<div>
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md3">
              <div class="panel border bg-white">
                  <div class="class panel heading">
                      <h3 class="class pt-3 font-weight-bold">Register</h3>
                  </div>
                  <div class="class panel-body p-3">
                      <form>
                          <div class="form-group pt-3">
                              <div class="class input-field">
                                  <span class="fa fa-user p-2">

                                  </span>
                                  <input type="text" placeholder="Username">
                              </div>
                              <div class="class input-field">
                                  <span class="fa fa-lock p-2">

                                  </span>
                                  <input [type]="type" placeholder="Password">
                                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                              </div>
                              <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                              <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" class="font-weight-bold" routerLink="/" routerLinkActive="active">Log In</a></div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>