<div>
  <div class="container">
      <div class="row">
          <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md3">
              <div class="panel border bg-white">
                  <div class="panel heading">
                      <h3 class="pt-3 font-weight-bold">Login</h3>
                  </div>
                  <div class="panel-body p-3">
                      <form [formGroup]="loginForm">
                          <div class="form-group pt-3">
                              <div class="input-field">
                                  <span class="fa fa-user p-2">

                                  </span>
                                  <input required formControlName="username" type="text" placeholder="Username">
                              </div>
                              <small *ngIf="username.invalid && (username.dirty || username.touched)" 
                              class="text-danger">*Username is required</small>
                              <div class="input-field">
                                  <span class="fa fa-lock p-2">

                                  </span>
                                  <input required formControlName="password" [type]="type" placeholder="Password">
                                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                              </div>
                              <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">*Password is required</small>
                              <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onLogin()">Login</button>
                              <div class="text-center pt-4 text-muted">Don't have account? <a id="forget" class="font-weight-bold" routerLink="/register" routerLinkActive="active">Sign Up</a></div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>